.chat-app {
  display: flex;
  max-width: 2000px;
  max-height: 90vh;
  width: 1500px;
  height: 1200px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-direction: column;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  position: relative;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  outline: none;
  background: #f4f4f9;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.chat-input input:focus {
  background: #e0e0e0;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  background: #4c68d7;
  color: white;
  border-radius: 20px;
}

.chat-input button:hover {
  background: #3b52a1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.emoji-picker {
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
}
