{{define "layout"}}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/assets/logo.svg" />
  <title>Gigaga Chat</title>
  <script src="js/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/output.css" />
  <script type="application/javascript">
    window.onload = () => {
      document.body.addEventListener("htmx:beforeOnLoad", function (evt) {
        if (evt.detail.xhr.status >= 400) {
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      });
      document.body.addEventListener("htmx:wsAfterSend", function () {
        const messageInput = document.getElementById("message-input");
        messageInput.value = "";
        const chatContainer = document.getElementById("chat-messages");
        if (!chatContainer) return;
        const doScroll =
          chatContainer.scrollTop >
          chatContainer.scrollHeight - chatContainer.clientHeight - 1;
        if (doScroll) {
          chatContainer.scrollTop =
            chatContainer.scrollHeight - chatContainer.clientHeight;
        }
      });
    };
  </script>
</head>
{{end}}
