<!doctype html>
<html lang="en">
  {{template "layout" .}}
  <link rel="stylesheet" href="css/home.css" />
  <script defer src="js/script.js"></script>
  <body>
    <div class="chat-app">
      <div class="flex justify-between items-center py-3 pl-5">
        <div class="nav-links">
          <a href="/">Home</a>
        </div>
        <div class="profile-section w-16">
          <div class="profile-icon" id="profileIcon">
            {{if .Avatar}}
            <div class="dropdown dropdown-end w-16 pr-4 mr-3">
              <img
                tabindex="0"
                role="button"
                class="rounded-full w-24"
                src="{{.Avatar}}"
                alt="avatar "
              />
              <ul
                tabindex="0"
                class="dropdown-content text-black menu rounded-box z-[1] w-fit p-2"
              >
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            {{else}}
            <div class="dropdown dropdown-end">
              <div class="avatar placeholder" tabindex="0" role="button">
                <div class="w-10 rounded-full bg-neutral text-neutral-content">
                  <span class="text-xs">D</span>
                </div>
              </div>
              <ul
                tabindex="0"
                class="dropdown-content menu rounded-box text-black z-[1] w-fit p-2"
              >
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="flex h-full">
        <div class="w-1/5 p-5" id="rooms">
          <h3 class="font-bold text-lg mb-2">Recent Chats</h3>
          <ul class="list-none">
            {{template "rooms" .}}
          </ul>
        </div>
        <div class="chat-container" id="chat-container">
          {{if .Messages}} {{template "messages" .}} {{else}}
          <div class="flex justify-center items-center h-full bg-gray-100">
            <div class="hero">
              <div class="hero-content flex-col">
                {{if .Avatar}}
                <div class="avatar">
                  <div
                    class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2"
                  >
                    <img src="{{.Avatar}}" />
                  </div>
                </div>
                {{else}}
                <div class="avatar placeholder">
                  <div
                    class="bg-neutral text-neutral-content w-24 rounded-full"
                  >
                    <span class="text-3xl">D</span>
                  </div>
                </div>
                {{end}}
                <div>
                  <h1 class="text-5xl font-bold">Welcome {{.FullName}}</h1>
                  <p class="py-6"></p>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
      <div id="toastContainer"></div>
    </div>
  </body>
</html>
