<!doctype html>
<html lang="en">
  {{template "layout" .}}
  <link rel="stylesheet" href="css/home.css" />
  <script defer src="js/script.js"></script>
  <body>
    <div class="chat-app">
      <div class="flex justify-between items-center py-3 pl-5">
        <div class="nav-links">
          <a>Home</a>
        </div>
        <div class="profile-section w-16">
          <div class="profile-icon" id="profileIcon">
            {{if .Avatar}}
            <div class="dropdown dropdown-end w-16 pr-4 mr-3">
              <img
                tabindex="0"
                role="button"
                class="avatar rounded-full object-cover w-24"
                src="{{.Avatar}}"
                alt="avatar "
              />
              <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-fit p-2 shadow"
              >
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            {{else}}
            <div class="dropdown dropdown-end">
              <div class="avatar placeholder" tabindex="0" role="button">
                <div class="bg-neutral text-neutral-content w-10 rounded-full">
                  <span class="text-xs">UNE</span>
                </div>
              </div>
              <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-fit p-2 shadow"
              >
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="flex h-full">
        <div class="w-1/5 p-5" id="rooms">
          <h3 class="font-bold text-lg mb-2">Recent Chats</h3>
          <ul class="list-none">
            {{template "rooms" .}}
          </ul>
        </div>
        <div class="chat-container">
          <div class="chat-messages" id="chat-messages">
            {{template "messages" .}}
          </div>
          <div class="chat-input">
            <input
              type="text"
              id="message-input"
              placeholder="Type a message..."
            />
            <button
              type="button"
              id="emojiButton"
              onclick="toggleEmojiPicker()"
            >
              😊
            </button>
            <button id="send-button" onclick="handleSendMessage()">Send</button>
          </div>
        </div>
      </div>
      <div id="toastContainer"></div>
    </div>
  </body>
</html>

{{define "rooms"}}
<!-- block -->
{{range .Rooms}}
<li
  id="{{.ID}}"
  class="flex items-center w-full h-[70px] mb-2 p-4 rounded-xl cursor-pointer hover:bg-gray-50"
  hx-get="rooms/{{.ID}}"
  hx-target="#chat-messages"
  hx-swap="innerHTML"
  onclick="connectWs(event)"
>
  {{if .Avatar}}
  <img
    src="{{.Avatar}}"
    alt="avatar"
    class="object-cover h-full rounded-full w-10"
  />
  {{else}}
  <div class="avatar placeholder">
    <div class="bg-neutral text-neutral-content w-10 rounded-full">
      <span class="text-xs">UNE</span>
    </div>
  </div>
  {{end}}
  <span class="ml-3 truncate">{{.Name}}</span>
</li>
{{end}}
<!-- block -->
{{end}}
