<!doctype html>
<html lang="en">
  {{template "layout" .}}
  <link rel="stylesheet" href="css/home.css" />
  <script defer src="js/script.js"></script>
  <body>
    <div class="chat-app">
      <div class="navbar">
        <div class="nav-links">
          <a>Home</a>
        </div>
        <div class="profile-section">
          <div class="profile-icon" id="profileIcon" onclick="toogleDropdown()">
            {{if .Avatar}}
            <img class="avatar" src="{{.Avatar}}" alt="avatar" />
            {{else}}
            <img
              class="avatar"
              src="assets/profile-simple-svgrepo-com.svg"
              alt="avatar"
            />
            {{end}}
          </div>
          <div class="dropdown-menu" id="dropdownMenu">
            <a href="logout" id="logoutOption">Logout</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="user-list" id="userList">
          <h3>Recent Chats</h3>
          <ul id="userListContainer">
            {{template "friends" .}}
          </ul>
        </div>
        <div class="chat-container">
          <div class="chat-messages" id="container">
            {{template "messages" .}}
          </div>
          <div class="chat-input">
            <input
              type="text"
              id="message-input"
              placeholder="Type a message..."
            />
            <button
              type="button"
              id="emojiButton"
              onclick="toggleEmojiPicker()"
            >
              😊
            </button>
            <button id="send-button" onclick="handleSendMessage()">Send</button>
          </div>
        </div>
      </div>
      <div id="toastContainer"></div>
    </div>
  </body>
</html>

{{define "friends"}}
<!-- block -->
{{range .Friends}}
<li id="friend-{{.ID}}">
  <span>{{.FullName}}</span>
</li>
{{end}}
<!-- block -->
{{end}}
