<!doctype html>
<html lang="en">
  <head>
    <title>Chat Example</title>
    <script defer src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header">
        <h1>Chat App</h1>
      </div>
      <div class="chat-messages" id="log">
        <!-- Messages will be displayed here -->
      </div>
      <div class="chat-input">
        <input type="text" id="message-input" placeholder="Type a message..." />
        <button id="send-button" onclick="handleSendMessage()">Send</button>
      </div>
    </div>
  </body>
</html>
