<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat Example</title>
    <script defer src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
  </head>
  <body>
    <div class="chat-app">
      <div class="user-list" id="userList">
        <h3>Users in Room</h3>
        <ul id="userListContainer">
          <!-- Usernames will be added here dynamically -->
        </ul>
      </div>
      <div class="chat-container">
        <div class="chat-header">
          <h1>Chat App</h1>
        </div>
        <div class="chat-messages" id="container">
          <!-- Messages will be displayed here -->
        </div>
        <div class="chat-input">
          <input
            type="text"
            id="message-input"
            placeholder="Type a message..."
          />
          <button type="button" id="emojiButton" onclick="toggleEmojiPicker()">
            😊
          </button>
          <button id="send-button" onclick="handleSendMessage()">Send</button>
        </div>
      </div>
      <div id="toastContainer"></div>
    </div>
  </body>
</html>
