<!doctype html>
<html lang="en">
  {{template "layout" .}}
  <link rel="stylesheet" href="css/login.css" />
  <body>
    <div class="login-container">
      <form
        class="login-form"
        hx-post="/login"
        hx-swap="outerHTML"
        hx-target="body"
      >
        <h2 class="title">Welcome Back</h2>
        <div class="input-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            {{if
            .Username}}
            value="{{.Username}}"
            {{end}}
            required
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            {{if
            .Password}}
            value="{{.Password}}"
            {{end}}
            required
          />
        </div>
        <button type="submit" class="login-button">Login</button>
        {{if .Errors}}
        <div>{{.Errors}}</div>
        {{end}}
        <p class="forgot-password"><a href="#">Forgot your password?</a></p>
        <div class="social-login">
          <a href="{{.GoogleUrl}}" class="google-button">
            <img src="assets/google_icon.svg" alt="Google icon" />
          </a>
          <a href="{{.FacebookUrl}}" class="facebook-button">
            <img src="assets/facebook_icon.svg" alt="Facebook icon" />
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
