{{define "messages"}}
<!-- block -->
<div class="top-0 z-10 p-2 flex border border-gray-100 items-center">
  {{if .Room.Avatar}}
  <img
    src="{{.Room.Avatar}}"
    alt="avatar"
    class="object-cover h-full rounded-full w-10 mr-3"
    id="room-avatar"
  />
  {{else}}
  <div class="avatar placeholder mr-3">
    <div class="w-10 rounded-full">
      <span class="text-xs">UNE</span>
    </div>
  </div>
  {{end}}
  <div class="room_id_header" id="{{.Room.ID}}">{{.Room.Name}}</div>
</div>
<div hx-ext="ws" ws-connect="/ws/{{.Room.ID}}" class="flex flex-col flex-1">
  <div id="chat-messages" class="chat-messages">
    {{ range .Messages }}
    <!-- if statement -->
    {{ if eq .SenderId $.UserId}}
    <div class="message sent">
      <div class="metadata">
        <span class="time">Me</span>
      </div>
      <span>{{.Message}}</span>
    </div>
    {{else}}
    <div class="message received">
      <div class="metadata">
        <span class="time">{{.FullName}}</span>
      </div>
      <span>{{.Message}}</span>
    </div>
    {{end}}
    <!-- if statement -->
    {{end}}
    <!-- block -->
  </div>
  <form class="chat-input" ws-send>
    <input
      type="text"
      name="msg"
      id="message-input"
      placeholder="Type a message..."
    />
    <button type="button" id="emojiButton" onclick="toggleEmojiPicker()">
      😊
    </button>
    <button id="send-button">Send</button>
  </form>
</div>
{{end}}
