{{define "messages"}}
<!-- block -->
<div class="chat-messages" id="chat-messages">
  <div class="bg-cyan-100 room_id_header" id="{{.Room.ID}}">{{.Room.ID}}</div>
  <div class="room_created" id="{{.IsCreated}}">{{.IsCreated}}</div>
  {{ range .Messages }}
  <!-- if statement -->
  {{ if eq .SenderId $.UserId}}
  <div class="message sent">
    <div class="metadata">
      <span class="time">Me</span>
    </div>
    <span>{{.Message}}</span>
  </div>
  {{else}}
  <div class="message received">
    <div class="metadata">
      <span class="time">{{.FullName}}</span>
    </div>
    <span>{{.Message}}</span>
  </div>
  {{end}}
  <!-- if statement -->
  {{end}}
  <!-- block -->
</div>
<div class="chat-input">
  <input type="text" id="message-input" placeholder="Type a message..." />
  <button type="button" id="emojiButton" onclick="toggleEmojiPicker()">
    😊
  </button>
  <button id="send-button" onclick="handleSendMessage()">Send</button>
</div>
{{end}}
